<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{!-- Link de Font Awesome --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        {{!-- Link de Google Fonts --}}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comme:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
        {{!-- Link Estilos CSS --}}
        <link rel="stylesheet" href="./styles/home.css">
        <title>Home Ecommerce</title>
    </head>
    <body>
        {{!< layouts/main }}
        
        <header>
            <nav class="navbar">
                <div class="navbar-left">
                    <p class="navbar-text"><a href="/" class="navbar-logo">Tienda Tecnologica</a></p>
                </div>
                <div class="navbar-right">
                    <a href="/" class="navbar-link">Inicio</a>
                    <a href="/products" class="navbar-link">Productos</a>
                    <a href="/cart" class="navbar-link cart-link">
                        <i class="fas fa-shopping-cart"></i> <!-- Icono de carrito -->
                        Carrito
                    </a>
                    <a href="/logout" class="navbar-link logout-link">
                        <span class="icon">&#128274;</span> Cerrar Sesión
                    </a>
                </div>
            </nav>
        </header>

        <div class="contendor-titulo">
            <h1 class="titulo">Bienvenido de vuelta {{nombreUsuario}}</h1>
            {{#if isAdmin}}
                <button class="add-producto"><a href="/product/add" class="add-producto">Añadir Producto</a></button>
            {{/if}}
        </div>

        {{#if productos.length}}
            <div class="productos">
            {{#each productos}}
            <div class="producto">
                <img class="producto-imagen" src="{{imagen}}" alt="Imagen del producto">
                <div class="producto-info">
                    <h3 class="producto-nombre">{{nombre}}</h3>
                    <p class="producto-descripcion">{{descripcion}}</p>
                    <p class="producto-precio">Precio: ${{precio}}</p>
                    <p class="producto-categoria">Categoría: {{categoria}}</p>
                    <button class="agregar-carrito" data-producto-id="{{_id}}">Agregar al carrito</button>
                    {{#if ../isAdmin}}
                    <button class="editar-producto" data-producto-id="{{_id}}"><a href="/product/edit/{{_id}}" class="editar-producto">Editar Producto</a></button>
                    {{/if}}
                </div>
            </div>
            {{/each}}
            </div>
        {{else}}
        <p>No se encontraron productos disponibles.</p>
        {{/if}}

        <script src="./js/add-cart.js"></script>
    </body>
</html>